@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

/* Global Styles */
* {
  font-family: "Caveat", cursive;
  margin: 0;
  padding: 0;
}

/* Parent Container */
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  color: white;
  z-index: 1;
}

/* Background Animation */
.backgroundLottie {
  position: fixed;
  width: 70%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* Header */
.wideAppbarParent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100px;
  & h1 {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 3px;
  }
  .MuiButton-root {
    height: 45%;
    border-color: white;
    color: white;
    & svg {
      font-size: 30px;
      fill: white;
    }
  }
}

/* Appbar Items */
.appbarItems {
  display: flex;
  justify-content: space-between;
  width: 40%;

  a {
    font-size: 25px;
    cursor: pointer;
  }
}
/* Small Screen Dropdown */
.dropAppbar {
  position: absolute;
  top: 100px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: black;
  border-radius: 10px;
  border: 0.5px solid white;
  z-index: 3;
  & a {
    padding: 10px;
    margin: 5px;
    width: 80%;
    text-align: center;
    border-top: 0.5px solid white;
  }
}
/* Home Section */
.homeParent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Lotties in Home Section */
.homeLottiesParent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Animation Keyframes */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply animation to specific elements */
.leftLotties .computerLotties,
.leftLotties .tabletLotties,
.rightLotties .reactLotties {
  opacity: 0;
  animation: fadeUp 1s ease 1s forwards;
}

/* Common styles for leftLotties and tabletLotties */
.leftLotties {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 20%;
}
.computerLotties {
  & svg {
    border-bottom-right-radius: 50%;
  }
}
.tabletLotties {
  margin-top: 100px;
}
.aboutNavigator {
  & h1 {
    font-size: 50px;
  }
}
.rightLotties {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 20%;
}
.aboutMeLottie {
  display: flex;
  flex-direction: column;
  align-items: center;
  & h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & svg {
    padding: 0px 5px;
    color: red;
    font-size: larger;
  }
}
.reactLotties {
  display: flex;
  align-items: center;
  height: 100%;
}

/* About Me Section */
.aboutMe {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

/* About Lottie */
.aboutLottie {
  position: absolute;
  top: 30px;
  left: 0;
  width: 30%;
}

.aboutMe h1 {
  margin-top: 200px;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 5px;
  z-index: 1;
}

.aboutMe p {
  margin-bottom: 100px;
  margin-top: 50px;
  width: 60%;
  font-size: 30px;
  z-index: 1;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .backgroundLottie {
    top: 45%;
  }
  .aboutMe {
    margin-top: 100px;
  }
}
@media screen and (max-width: 900px) {
  .appbarItems a {
    font-size: 20px;
  }
  .aboutMe {
    margin-top: 150px;
  }
}
@media screen and (max-width: 800px) {
  .wideAppbarParent h1 {
    font-size: 30px;
  }
  .leftLotties {
    width: 30%;
  }
  .appbarItems {
    width: 50%;
  }
  .aboutMe {
    margin-top: 150px;
    & h1 {
      font-size: 40px;
      margin-top: 150px;
    }
    & p {
      font-size: 20px;
    }
  }
}
@media screen and (max-width: 700px) {
  .backgroundLottie {
    top: 50%;
  }
  .appbarItems {
    width: 50%;
  }
  .tabletLotties {
    margin-top: 200px;
  }
  .aboutMe {
    margin-top: 200px;
    & h1 {
      margin-top: 140px;
    }
  }
}
@media screen and (max-width: 500px) {
  .tabletLotties {
    margin-top: 250px;
  }
  .aboutMe {
    margin-top: 300px;
    & h1 {
      margin-top: 130px;
      font-size: 25px;
    }
    & p {
      font-size: 20px;
      width: 85%;
    }
  }
}
@media screen and (max-width: 400px) {
  .tabletLotties {
    margin-top: 300px;
  }
}
@media screen and (max-width: 350px) {
  .wideAppbarParent h1 {
    font-size: 25px;
  }
}
