@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

/* Global Styles */
* {
  font-family: "Caveat", cursive;
  margin: 0;
  padding: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Parent Container */
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: black;
  // background-color: white;
  color: white;
  z-index: 1;
}

/* Background Animation */
.backgroundLottie {
  position: fixed;
  width: 70%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* Header */
.wideAppbarParent {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100px;
  z-index: 5;
  background: rgba(0, 0, 0, 0.9);
  & h1 {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 3px;
    cursor: pointer;
    position: relative;

    & span {
      color: rgb(68, 11, 254);
      position: absolute;
      top: 0;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }

    .left-animation {
      left: -30px;
      animation-name: floatLeft;
    }

    .right-animation {
      right: -80px;
      animation-name: floatRight;
    }
  }

  @keyframes floatLeft {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-5px);
    }
  }

  @keyframes floatRight {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
  }

  .MuiButton-root {
    height: 45%;
    border-color: white;
    color: white;
    & svg {
      font-size: 30px;
      fill: white;
    }
  }
}

/* Appbar Items */
.appbarItems {
  display: flex;
  justify-content: space-between;
  width: 40%;

  a {
    font-size: 25px;
    cursor: pointer;
  }
}
/* Small Screen Dropdown */
.dropAppbar {
  position: fixed;
  top: 100px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: black;
  border-radius: 10px;
  border: 0.5px solid white;
  z-index: 3;
  & a {
    padding: 10px;
    margin: 5px;
    width: 80%;
    text-align: center;
    border-top: 0.5px solid white;
  }
}
/* Home Section */
.homeParent {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 100px;
}

/* Lotties in Home Section */
.homeLottiesParent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Center Parallax Div */
.aboutCenterParent {
  display: flex;
  justify-content: center;
  width: 50%;
  .parallaxParent {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 100%;
    border-radius: 50%;
    margin-top: 20px;

    opacity: 0;
    animation: rotateParallax 3s ease-in-out forwards,
      fadeIn 5000ms ease-in-out forwards;
  }

  @keyframes rotateParallax {
    from {
      transform: rotate(-90deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .moveable {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: transform 0.2s ease-out;
    position: absolute;
    .parallaxIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 14px;
      & a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        & svg {
          font-size: 60px;
        }
      }
    }
    .linkedin {
      background-color: white;
      & svg {
        color: #0077b5;
        border-radius: 14px;
      }
    }
    .facebook {
      background-color: black;
      & svg {
        color: #3b5998;
        font-size: 70px;
        border-radius: 14px;
      }
    }
    .instagram {
      background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );
    }
  }

  .top {
    top: 0;
  }

  .right {
    right: 0;
  }

  .bottom {
    bottom: 0;
  }

  .left {
    left: 0;
  }
}
/* PROJECTS */
.projectParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
  .projectTitle {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    & p {
      font-size: 50px;
    }
  }
  .projects {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 50px;
    .project {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      // background-color: #212121d0;
      width: 35%;
      padding: 5px;
      border-radius: 5px;
      min-height: 20vh;
      & h1 {
        padding: 10px 0px;
        font-weight: 700;
      }
      & img {
        width: 100%;
        height: auto;
        border-radius: 5px;
      }
      & a {
        width: 100%;
        text-align: end;
        text-decoration: none;
        color: white;
        padding: 10px 0px;
        font-size: 25px;
        &:hover {
          color: #c9c9c9;
        }
      }
    }
  }
}
/* Animation Keyframes */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply animation to specific elements */
.leftLotties .computerLotties,
.leftLotties .tabletLotties,
.rightLotties .reactLotties,
.aboutMeLottie {
  opacity: 0;
  animation: fadeUp 1s ease 1s forwards;
}

/* Common styles for leftLotties and tabletLotties */
.leftLotties {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90vh;
  width: 20%;
}
.computerLotties {
  & svg {
    border-bottom-right-radius: 50%;
  }
}
.tabletLotties {
  margin-bottom: 30px;
}
.aboutNavigator {
  & h1 {
    font-size: 50px;
  }
}
.rightLotties {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
}
.aboutMeLottie {
  display: flex;
  flex-direction: column;
  align-items: center;
  & p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  & h6 {
    font-size: 20px;
    & svg {
      padding: 0px 5px;
      color: red;
      font-size: larger;
    }
  }
}
.reactLotties {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

/* About Me Section */
.aboutMe {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // min-height: 100vh;
  margin-top: 100px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

/* About Lottie */
.aboutLottie {
  position: absolute;
  top: 30px;
  left: 0;
  width: 30%;
}

.aboutMe h1 {
  margin-top: 200px;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 5px;
  z-index: 1;
}

.aboutMe p {
  margin-bottom: 100px;
  margin-top: 50px;
  width: 60%;
  font-size: 30px;
  z-index: 1;
  text-align: center;
}
// Skillset
.skillsetParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  .skillsetTitle {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    & p {
      font-size: 50px;
    }
  }
  .slidersParent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    .sliders {
      width: 40%;
      margin: 20px 0px;
      .sliderTitle {
        display: flex;
        justify-content: space-between;
        height: 50px;
        & p {
          font-size: 30px;
        }
        .imageSkill {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          // border-radius: 50%;
          background: transparent;
          & img {
            width: 50px;
            height: 50px;
            // border-radius: 50%;
          }
        }
      }
    }
  }
}

.contactParent {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  .contactForm {
    display: flex;
    justify-content: center;
    width: 0100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    margin-top: 100px;
    .leftContact {
      display: flex;
      flex-direction: column;
      width: 40%;
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(4px);
      border-radius: 10px 0px 0px 10px;
      & h1 {
        margin: 70px 0px 0px 70px;
        font-size: 70px;
        font-weight: 900;
        color: white;
        width: max-content;
      }
      & p {
        font: 25px;
      }
      .contactLeftInputs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        .leftInputs {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          width: 100%;
          height: 50%;
          .css-i44wyl {
            width: 80%;
          }
          .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
            width: 80%;
          }
        }
        .cf-turnstile {
          margin: 10px 0px;
        }
      }
    }
    .rightContact {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      height: auto;
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(4px);
      justify-content: space-between;
      border-radius: 0px 10px 10px 0px;
      .css-i44wyl {
        width: 100%;
        height: 300px;
        margin: 30% 0px;
      }
      .css-repss6 {
        height: 90%;
      }
      .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
        height: 300px;
        margin: 30% 0px;
        width: 90%;
      }
      label + .css-1rb63tl-MuiInputBase-root-MuiInput-root {
        margin-top: 16px;
        height: 90%;
      }
      .buttonContact {
        width: 95%;
        margin: 20px 0px;
      }
    }
  }
  .lottieContact {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 1;
    width: 100%;
    .lottieContactCenter {
      width: 80%;
    }
  }
}
.footerParent {
  display: flex;
  width: 100%;
  min-height: 10vh;
  justify-content: space-between;
  align-items: center;
  & h1 {
    font-size: 50px;
  }
  .socialIcons {
    display: flex;
    width: 15%;
    justify-content: space-evenly;
    & svg {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .backgroundLottie {
    top: 45%;
  }
  .aboutMe {
    margin-top: 100px;
  }
}
@media screen and (max-width: 900px) {
  .appbarItems a {
    font-size: 20px;
  }
  .aboutMe {
    margin-top: 150px;
  }
}
@media screen and (max-width: 800px) {
  .left-animation {
    right: 110px;
  }
  .right-animation {
    left: 180px;
  }
  .wideAppbarParent h1 {
    font-size: 30px;
  }
  .leftLotties {
    width: 30%;
  }
  .rightLotties {
    width: 30%;
  }
  .appbarItems {
    width: 50%;
  }
  .aboutMe {
    margin-top: 150px;
    & h1 {
      font-size: 40px;
      margin-top: 150px;
    }
    & p {
      font-size: 20px;
    }
  }
}
@media screen and (max-width: 700px) {
  .backgroundLottie {
    top: 50%;
  }
  .appbarItems {
    width: 50%;
  }
  .aboutMeLottie p {
    font-size: 15px;
  }
  .tabletLotties {
    margin-top: 200px;
  }
  .aboutMe {
    margin-top: 200px;
    & h1 {
      margin-top: 140px;
    }
  }
}
@media screen and (max-width: 600px) {
  .slidersParent {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .skillsetParent .slidersParent .sliders {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .aboutCenterParent {
    position: absolute;
    top: 150px;
    height: 50vh;
    display: flex;
    justify-content: center;
    width: 90%;
    .parallaxIcon {
      width: 40px;
      height: 40px;
      & svg {
        width: 40px;
        height: 40px;
      }
    }
  }
  .leftLotties {
    min-height: 70vh;
  }
  .tabletLotties {
    margin-top: 250px;
  }
  .aboutMeLottie p {
    display: none;
  }
  .aboutMeLottie h6 {
    display: flex;
    margin-left: 30px;
    & svg {
      display: block;
    }
  }
  .aboutMe {
    margin-top: 300px;
    & h1 {
      margin-top: 130px;
      font-size: 25px;
    }
    & p {
      font-size: 20px;
      width: 85%;
    }
  }
}
@media screen and (max-width: 400px) {
  .tabletLotties {
    margin-top: 300px;
  }
}
@media screen and (max-width: 350px) {
  .wideAppbarParent h1 {
    font-size: 25px;
  }
}
